.translation{
    display: grid;
    grid-column: 1fr 1fr 1fr 0.5fr;
    position: fixed;
    bottom: 0%;
    height: 10%;
    width: 50%;
    justify-content: stretch;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 183, 3, 0.9); /* 50% transparency */
  }