.practice-page{
  background-color: transparent;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-card:hover{
  scale: 1.1;
  height: fit-content;
  transition: scale 0.5s ease;
}

.ant-card:not(:hover){
  scale: 1;
  height: fit-content;
  transition: scale 0.5s ease;
}